<%
        let firstName, lastName, primaryPhone;
        // let title = price = authors = publication = ISBN = publishDate = genres = tags = language = description = "";
        if (edit) {
            firstName = user.firstName;
            lastName = user.lastName;
            primaryPhone = user.primaryPhone;
        }
%>

<form class="ui form" action="/user/profile?_csrf=<%= csrfToken %>"  enctype='multipart/form-data' method="post">
    <div class="field">
        <div class="ui labeled input">
            <div class="ui label">
                First Name
            </div>
            <input type="text" name="firstName" placeholder="firstName" value="<%= firstName %>" >
        </div>
    </div>

    <div class="field">
        <div class="ui labeled input">
            <div class="ui label">
                Last Name
            </div>
            <input type="text" name="lastName" placeholder="lastName" value="<%= lastName %>" >
        </div>
    </div>

    <div class="field">
        <div class="ui labeled input">
            <div class="ui label">
                Avatar
            </div>
            <input type="file" name="image" multiple accept="image/*">

        </div>
    </div>

    <div class="field">
        <div class="ui labeled input">
            <div class="ui label">
                Phone
            </div>

            <input type="text" name="primaryPhone" placeholder="primaryPhone" value="<%= primaryPhone %>">
        </div>
    </div>

    <a href="/user/profile"><button class="ui button" type="button">Cancel</button></a>
    <button class="ui button" type="submit">Edit</button>
</form>

<h4 class="ui horizontal divider header">
    <i class="shipping fast icon"></i>
    Add Address
</h4>

<form class="ui form" action="/user/profile/add-address" method="post">
    <div class="field">
        <div class="ui labeled input">
            <div class="ui label">
                Phone
            </div>
            <input type="text" name="phoneNumber" placeholder="phoneNumber">
        </div>
    </div>

    <div class="field">
        <div class="ui labeled input">
            <div class="ui label">
                Address
            </div>
            <input type="text" name="address" placeholder="address">
        </div>
    </div>

    <div class="field">
        <div class="ui labeled input">
            <div class="ui label">
                Region
            </div>

            <input type="text" name="region" placeholder="region">
        </div>
    </div>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

    <a href="/user/profile"><button class="ui button" type="button">Cancel</button></a>
    <button class="ui button" type="submit">Add address</button>
</form>