<table class="ui definition table">
    <tbody>
        <tr>
            <td class="three wide column">Username</td>
            <td>
                <%= user.username %>
            </td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>
                <%= user.firstName %>
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <%= user.lastName %>
            </td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>
                <%= user.primaryPhone %>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <%= user.email %>
            </td>
        </tr>
        <tr>
            <td>Member Since</td>
            <td>
                <%= user.createdAt %>
            </td>
        </tr>



    </tbody>

</table>