<table class="ui definition table">
    <tbody>
        <tr>
            <td class="three wide column">Username</td>
            <td>
                <%= user.username %>
            </td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>
                <%= user.firstName %>
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <%= user.lastName %>
            </td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>
                <%= user.primaryPhone %>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <%= user.email %>
            </td>
        </tr>
        <tr>
            <td>Member Since</td>
            <td>
                <%= user.createdAt %>
            </td>
        </tr>



    </tbody>

</table>

<h4 class="ui horizontal divider header">
    <i class="shipping fast icon"></i>
    Address
</h4>

<div class="ui feed" id='address_feed'>
    <% for( let address of user.addressBooks ) { %>

        <div class="event">
            <div class="label">
                <img src="<%= user.avatar %> ">
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user">
                        <%= user.username %>
                    </a> added an address on
                    <div class="date">
                        <%= address.createdAt %>
                    </div>
                </div>
                <div class="extra text">
                    <p>Phone: <%= address.phoneNumber %>
                    </p>
                    <p>Address: <%= address.address %>
                    </p>
                    <p>Region: <%= address.region %>
                    </p>
                </div>
            </div>
            <button class="ui button right floated" onclick="deleteAddress('<%= address.id %>')">Delete</button>
        </div>

    <% } %>
</div>

<script>
    function deleteAddress(addressId) {
        var encodedKey = encodeURIComponent('addressId');
        var encodedValue = encodeURIComponent(addressId);
        var data = encodedKey + '=' + encodedValue;
        fetch('/user/profile/delete-address', {
            method: 'POST',
            headers: {
                'csrf-token': '<%= csrfToken %>',
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: data,
        })
            .then(result => {
                console.log(result)
                return result.json();

            })
            .then(data => {
                console.log(data);
                alert(data.message);
                $('#address_feed').load(' #address_feed > *');

            })
            .catch(err => {
                console.log(err);
            })
    }
</script>



