<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= pageTitle %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../includes/styles.ejs') %>

    <style type="text/css">
        body>.grid {
            height: 80%;
        }

        .ui.label {
            width: 100px;
        }

        .ui.labeled.input {
            height: 40px;
        }
    </style>

</head>


<body>
    <%- include('../includes/navbar.ejs') %>

        <div class="ui middle aligned center aligned grid" style="margin-top:20px;">
            <div class="column" style="width: 750px;">

                <div class="ui placeholder segment">
                    <div class="ui internally celled grid">

                        <div class="five wide column">
                            <div class="ui centered card" id="avatar">

                                <img style="height: 100%; width: 100%;" src="<%= user.avatar %> ">


                            </div>

                            <button class="ui button left floated" onclick="changeAvatar('/user/profile/random-avatar')">Random</button>
                            <button class="ui button right floated" onclick="changeAvatar('/user/profile/reset-avatar')">Reset</button>

                        </div>
                        <div class="eight wide column">

                            <div class="ui card" style="box-shadow: none;background-color: transparent;height: 100%;width: 100%;">
                                <div class="content">
                                  <div class="header">
                                    <h1 style="margin: 0px;">
                                      <%= user.username %>
                                    </h1>

                                  </div>
                                  <div class="meta">
                                    <a>
                                      <h4>
                                        <%= user.email %>
                                      </h4>
                                    </a>

                                  </div>

                                  <div class="description">
                                    <p></p>
                                  </div>



                                </div>

                                <div class="extra">
                                    <a href = "/user/profile?edit=true">
                                  <button class="ui button">Edit profile</button>
                                  </a>

                                </div>
                              </div>

                        </div>

                    </div>
                </div>




                <h4 class="ui horizontal divider header">
                    <i class="address card icon"></i>
                    Details
                </h4>

                <% if (edit) { %>

                    <%- include('../includes/edit-profile.ejs') %>

                <% } else { %>
                    <%- include('../includes/profile.ejs') %>

                <% } %>
            </div>
        </div>

        <% console.dir(user) %>

</body>

<script>
    function changeAvatar(endpoint) {
        //console.log(data);
        fetch(endpoint, {
            method: 'POST',
            headers: {
                'csrf-token': '<%= csrfToken %>',
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: null,
        })
        .then(result => {
            // window.location.replace('/books');
            return result;
        })
        .then(data => {
            console.log(data);
            $("#avatar").load(" #avatar > *");
            $("#inline-avatar").load(" #inline-avatar > *");


        })
        .catch(err => {
            console.log(err);
        })
    }
</script>

</html>