<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= pageTitle %>
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include('../includes/styles.ejs') %>
</head>

<body>
  <%- include('../includes/navbar.ejs') %>

    <div class="ui middle aligned center aligned grid" style="margin-top:20px;">
      <div class="column" style="width: 750px;">

        <div class="ui placeholder segment">
          <div class="ui internally celled grid">

            <div class="five wide column">
              <div class="ui centered card">
                <img style="height: 100%; width: 100%;" src="<%= book.bookImages[0].imageUrl %> ">
              </div>
            </div>
            <div class="eleven wide column" align=left>

              <div class="ui card" style="box-shadow: none;background-color: transparent;height: 100%;width: 100%;">
                <div class="content" align="justify">
                  <div class="header">
                    <h1 style="margin: 0px;">
                      <%= book.title %>
                    </h1>

                  </div>
                  <div class="meta">
                    <a>
                      <h4>
                        <%= book.authors[0].name %>
                      </h4>
                    </a>
                    Rating: <%= book.rating %>
                  </div>
                  <div class="header">
                    <h3>
                      $<%= book.price %>
                    </h3>

                  </div>
                  <div class="description">
                    <p>
                      <%= book.description %>
                    </p>
                  </div>



                </div>

                <div class="extra">
                  <form action="/user/cart" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <input type="hidden" name="bookId" value="<%= book.id %>" >
                    <button class="ui button left floated" type="submit">Add to cart</button>
                    <a href="#review_field"><button class="ui button right floated" type="button">Add review</button></a>
                  </form>

                </div>
              </div>

            </div>

          </div>
        </div>




        <h4 class="ui horizontal divider header">
          <i class="book icon"></i>
          Specifications
        </h4>
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column">Title</td>
              <td>
                <%= book.title %>
              </td>
            </tr>
            <tr>
              <td>Price</td>
              <td>
                <%= book.price %> USD
              </td>
            </tr>
            <tr>
              <td>Author</td>
              <td>
                <div class="ui bulleted list">
                  <% for( author of book.authors ) { %>
                    <div class="item">
                      <a href="/books/author?id=<%= author.id %>">
                        <%= author.name %>
                      </a>
                    </div>
                    <% } %>
                </div>
              </td>
            </tr>
            <tr>
              <td>Publication</td>
              <td>
                <a href="/books/publication?id=<%= book.publication.id %>">
                <%= book.publication.name %>
                </a>
              </td>
            </tr>

            <tr>
              <td>ISBN</td>
              <td>
                <%= book.ISBN %>
              </td>
            </tr>

            <tr>
              <td>Year</td>
              <td>
                <%= book.publishDate %>
              </td>
            </tr>

            <tr>
              <td>Genres</td>
              <td>
                <% let names=[]; for (genre of book.genres) { names.push(genre.name); } %>
                  <%= names.join(", ") %>
              </td>
            </tr>

            <tr>
              <td>Tags</td>
              <td>
                <%
                  names = [];
                  for (tag of book.tags) {
                    names.push(tag.name);
                  }
                %>
                <%= names.join(" , ") %>
              </td>
            </tr>

            <tr>
              <td>Language</td>
              <td><%= book.language %></td>
            </tr>

          </tbody>

        </table>

        <% if (isAdmin) { %>
          <a href="/admin/edit-book/<%= book.id %>?edit=true">
          <button class=" ui button">
            Edit book
          </button>
          </a>
          <button class="ui button" onclick="postDeleteBook('/admin/delete-book', '<%= book.id %>', this)">

              Delete book

          </button>
        <% } %>



        <h4 class=" ui horizontal divider header">
          <i class="list icon"></i>
          Reviews
        </h4>
        <form class="ui form">
          <div class="field" id="review_field">
          <textarea type="text" rows="6" id="review_text" name="review" placeholder="Write a review..." style="width: 100%;"></textarea>
          </div>

          <button class="ui button" type="button" onclick="addReview()">Add review</button>
        </form>

        <div class="ui feed" id='review_feed'>
          <% for( let review of book.reviews ) { %>
            <div class="event">
              <div class="label">
                <img src="<%= review.user.avatar %> ">
              </div>
              <div class="content">
                <div class="summary">
                  <a class="user">
                    <%= review.user.username %>
                  </a> added a review on
                  <div class="date">
                    <%= review.createdAt %>
                  </div>
                </div>
                <div class="extra text">
                  <%= review.review %>
                </div>
              </div>
            </div>
          <% } %>

        </div>




      </div>
    </div>


<script>
  function addReview() {

    var encodedKey_bookId = encodeURIComponent('bookId');
    var encodedValue_bookId = encodeURIComponent("<%= book.id %>");
    var encodedKey_review = encodeURIComponent('review');
    var review_text = document.getElementById('review_text').value;
    var encodedValue_review = encodeURIComponent(review_text);
    var data = encodedKey_bookId +'='+ encodedValue_bookId + '&' + encodedKey_review + '=' + encodedValue_review;
    fetch('/user/review/add', {
        method: 'POST',
        headers: {
            'csrf-token': '<%= csrfToken %>',
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: data,
    })
    .then(result => {
        console.log(result)
        $("#review_feed").load(" #review_feed > *");
        $("#review_field").load(" #review_field > *");
        return JSON.stringify(result);

    })
    .then(data => {
        console.log(data);


    })
    .catch(err => {
        console.log(err);
    })

  }
</script>






</body>

</html>